<template name="afProyectoInput">
	{{#let atts=(removeObjects this.atts)}}
		<div class="proyecto-input-container input-text {{atts.selector}}" input-title={{ atts.inputTitle }} isrequired="{{#if (hasProperty atts "required")}}true{{else}}false{{/if}}">
			<input type="text" class="proyecto-input input-text-placeholder autoform-{{ atts.[data-schema-key] }}" value={{ this.value }} {{ atts }} />
		</div>
	{{/let}}
</template>

<template name="afProyectoInputNumber">
	{{#let atts=(removeObjects this.atts)}}
		<div class="proyecto-input-container input-text {{atts.selector}}" input-title={{ atts.inputTitle }} isrequired="{{#if (hasProperty atts "required")}}true{{else}}false{{/if}}">
			<input type="text" class="proyecto-input proyecto-autonumeric input-text-placeholder autoform-{{ atts.[data-schema-key] }}" {{ atts }} value={{ this.value }} />
		</div>
	{{/let}}
</template>

<template name="afProyectoTextarea">
	{{#let atts=(removeObjects this.atts)}}
		<div class="proyecto-input-container input-textarea {{atts.selector}}" input-title={{ atts.inputTitle }} isrequired="{{#if (hasProperty atts "required")}}true{{else}}false{{/if}}">
			<textarea class="proyecto-input input-text-placeholder autoform-{{ atts.[data-schema-key] }}" {{ atts }} value={{ this.value }}></textarea>
		</div>
	{{/let}}
</template>

<template name="afProyectoTextareaWYSIWYG">
	{{#let atts=(removeObjects this.atts)}}
		<div class="proyecto-input-container input-textarea-wysiwyg {{atts.selector}}" input-title={{ atts.inputTitle }}>
			<div class="proyecto-input wysiwyg-style autoform-{{ atts.[data-schema-key] }}" {{ atts }}></div>
		</div>
	{{/let}}
</template>

<template name="afProyectoSelect">
	{{#let atts=(removeObjects this.atts)}}
		<div class="proyecto-select-wrap {{atts.selector}}" isrequired="{{#if (hasProperty atts "required")}}true{{else}}false{{/if}}">
			<div class="proyecto-select-container">
				<select class="proyecto-select {{ atts.selector }} autoform-{{ atts.[data-schema-key] }}" select-label={{ atts.inputTitle }} {{ atts }}>
					{{#each this.items}}
						{{#unless this.optgroup}}
							<option {{ afSelectOptionAtts }}>{{ this.label }}</option>
						{{else}}
							<optgroup label={{ this.optgroup }}>
								{{#each this.items}}
									<option {{ afSelectOptionAtts }}>{{ this.label }}</option>
								{{/each}}
							</optgroup>
						{{/unless}}
					{{/each}}
				</select>
			</div>
		</div>
	{{/let}}
</template>

<template name="afProyectoImage">
	{{#let atts=(removeObjects this.atts)}}
		<div class="proyecto-file-container {{atts.selector}}">
			<div class="proyecto-btn-container">
				<span class="proyecto-btn btn waves-effect waves-proyecto color-btn-img font-title">{{ atts.btnTitle }}</span>
			</div>
			<div class="proyecto-image-container" name={{ atts.[data-schema-key] }}>
				{{#unless instance.image}}
					<div class="proyecto-image-placeholder">
						<i class="mdi mdi-image"></i>
					</div>
				{{else}}
					<div class="proyecto-image-contain {{#if atts.border}}with-border{{/if}}">
						{{#unless instance.editImage}}
							<img class="proyecto-image-preview" src="#" alt="Adjuntar Imagen" />
						{{else}}
							<img class="proyecto-image-preview" src={{ this.value.secure_url }} alt="Adjuntar Imagen" />
						{{/unless}}
					</div>
				{{/unless}}
			</div>
			{{#unless this.value}}
				<input type="file" class="proyecto-image-input autoform-{{ atts.[data-schema-key] }}" value={{ this.value }} {{ atts }}>
			{{else}}
				<input type="file" class="proyecto-image-input autoform-{{ atts.[data-schema-key] }}" {{ atts }}>
			{{/unless}}
		</div>
	{{/let}}
</template>

<template name="afProyectoDate">
	{{#let atts=(removeObjects this.atts)}}
		<div class="proyecto-input-container input-text {{atts.selector}}" input-title={{ atts.inputTitle }}>
			<input type="text" class="datepicker input-text-placeholder proyecto-input autoform-{{ atts.[data-schema-key] }}" placeholder={{ atts.placeholder }} value={{ this.value }} />
			<input type="text" class="content-hide" {{ atts }} value={{ this.value }} />
		</div>
	{{/let}}
</template>

<template name="afProyectoDateTime">
	{{#let atts=(removeObjects this.atts)}}
		<div class="proyecto-input-container input-text {{atts.selector}}" input-title={{ atts.inputTitle }}>
			<input type="text" class="datetimepicker c-datepicker-btn input-text-placeholder proyecto-input autoform-{{ atts.[data-schema-key] }}" placeholder={{ atts.placeholder }} {{ atts }} value={{ this.value }} />
		</div>
		<div class="datetimepicker-holder"></div>
	{{/let}}
</template>

<template name="afProyectoIncreaseDecrease">
	{{#let atts=(removeObjects this.atts)}}
		<div class="proyecto-input-container increase-decrease {{atts.selector}}" input-title={{ atts.inputTitle }}>
			<div class="increase-decrease-container">
				<div class="decrease-btn">
					<i class="mdi mdi-minus-circle-outline color-highlight waves-effect circle"></i>
				</div>
				<input type="text" class="proyecto-increase-decrease input-text-placeholder autoform-{{ atts.[data-schema-key] }}" {{ atts }} autocomplete="off" />
				<div class="increase-btn">
					<i class="mdi mdi-plus-circle-outline color-highlight waves-effect circle"></i>
				</div>
			</div>
		</div>
	{{/let}}
</template>

<template name="afCheckBox">
	{{#let atts=(removeObjects this.atts)}}
		<div class="proyecto-inline-input-container {{atts.selector}}">
			<span class="inline-input-title">
				{{ atts.inputTitle }}
			</span>
			<div class="proyecto-inline-checkbox-container">
				<input type="checkbox" class="checkbox-proyecto autoform-{{ atts.[data-schema-key] }} filled-in" {{ this.checked }} id="filled-in-box-{{ atts.[data-schema-key] }}" value={{ this.value }} {{ atts }}/>
				<label for="filled-in-box-{{ atts.[data-schema-key] }}">{{ atts.btnTitle }}</label>
			</div>
		</div>
	{{/let}}
</template>

<template name="afSwitch2">
	{{#let atts=(removeObjects this.atts)}}
		<div class="proyecto-inline-input-container {{atts.selector}}">
			<div class="inline-input-title">
				{{ atts.inputTitle }}
			</div>
			<div class="proyecto-switch-container">
				<div class="switch">
					<label>
						{{ atts.optionOff }}
						<input type="checkbox" class="autoform-{{ atts.[data-schema-key] }}" {{this.checked}} value={{ this.value }} {{ atts }}>
						<span class="lever"></span>
						{{ atts.optionOn }}
					</label>
				</div>
			</div>
		</div>
	{{/let}}
</template>

<template name="afColor">
	{{#let atts=(removeObjects this.atts)}}
		<div class="proyecto-input-container input-text {{atts.selector}}" input-title={{ atts.inputTitle }}>
			<div class="inputs-width-equalizer">
				<div class="proyecto-color-container" >
					<input type='text' class="proyecto-color-picker autoform-{{ atts.[data-schema-key] }}" {{ atts }} value={{ this.value }} />
				</div>
			</div>
		</div>
	{{/let}}
</template>

<template name="afProyectoPassInput">
	{{#let atts=(removeObjects this.atts)}}
		<div class="proyecto-input-container input-text {{atts.selector}}" input-title={{ atts.inputTitle }} isrequired="{{#if (hasProperty atts "required")}}true{{else}}false{{/if}}">
			<input type="password" class="proyecto-input input-text-placeholder autoform-{{ atts.[data-schema-key] }}" {{ atts }} />
		</div>
		<div class="proyecto-input-container input-text {{atts.selectorPass}}" input-title={{ atts.confirmTitle }} isrequired="{{#if (hasProperty atts "required")}}true{{else}}false{{/if}}">
			<input type="password" class="proyecto-input input-text-placeholder autoform-{{ atts.[data-schema-key] }} pass-confirm" placeholder={{ atts.confirmPlaceholder }} {{ atts }} />
		</div>
	{{/let}}
</template>

<template name="afProyectoFileInput">
	{{#let atts=(removeObjects this.atts)}}
		<div class="proyecto-input-container input-text {{atts.selector}}" input-title={{ atts.inputTitle }} isrequired="{{#if (hasProperty atts "required")}}true{{else}}false{{/if}}">
			<input type="file" class="hide-this js-proyecto-file-input autoform-{{ atts.[data-schema-key] }}" {{ atts }} />
			<div class="proyecto-btn-container">
				<div class="btn proyecto-btn proyecto-file-button">
					<span class="waves-effect waves-proyecto">ARCHIVO</span>
				</div>
			</div>
			<div class="brick"></div>
			<input type="text" class="proyecto-input proyecto-file-input input-text-placeholder" value={{ this.value.file.original_name }} for={{ atts.[data-schema-key] }} placeholder={{ atts.placeholder }} readonly />
		</div>
	{{/let}}
</template>
